* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

#logo {
  font-weight: bold;
  font-size: 18px;
  color: #6070ff;
  margin-top: 5px;
}

.ham0 {
  margin-top: 6px;
}

.ham {
  width: 35px;
  height: 5px;
  background-color: #6070ff;
  margin: 3px 0;
}

section {
  background-image: url(background.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

.container0 {
  display: flex;
  justify-content: space-between;
}

.intro {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
}

.description {
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  color: #172b4d;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.icon-list {
  display: flex;
  float: left;
}

li {
  list-style: none;
  color: #505f79;
  margin-right: 10px;
}

.container2 {
  position: relative;
  left: 20px;
}

.fa-color {
  color: #505f79;
}
